{% extends "base.html" %}
{% load i18n bootstrap3 %}

{% block maincontent %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center verticalPadding">{% block title %}{% trans "Enable Two-Factor Authentication" %}{% endblock %}</h1>

      <p>{% blocktrans trimmed %}Congratulations, you've successfully enabled two-factor authentication.{% endblocktrans %}</p>

      <h3>{% trans "Backup Tokens" %}</h2>
      <p>{% blocktrans trimmed %}We highly recommend that you generate the Backup Tokens.
          In the event that your device is damaged or lost, you can access your account
          using backup tokens.{% endblocktrans %}
      </p>
      <p>
        <a href="{% url 'two_factor:backup_tokens' %}" class="btn btn-primary">{% trans "Setup Backup Token" %}</a>
        <a href="/my-rsr/my-details/" class="pull-right btn btn-default">{% trans "Skip for now" %}</a>
      </p>

    </div>
  </div>
<div>
{% endblock %}
